
.main {
    background-image: url(../assets/casaFogo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;


    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    background-color: red;
    border-radius: 10%;
    font-size:50px;
    color: white;
}

.text{
    margin-top:2%;
    margin-Bottom:3%;
    text-align:center;
    font-size: 30px;
    background-color:aquamarine;
    height: 40%;
    width: 50%;
    border-radius: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
}


.lista {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 30px;
    background-color: aquamarine;
    height: 25%;
    width: 50%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .lista ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }

  .lista li {
    width: 20%;
  }


  .selecionados {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 30px;
    background-color: greenyellow;
    height: 50%;
    width: 50%;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.selecionados ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }

.selecionados li {
    width: 30%;
  }
